.App {
  text-align: center;
}

/* General body styling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f7f6;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  /* overflow: hidden; */
  /* width: 0px; */
}
/* SignUp Form Container */

.signUpFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: bisque;
  background-image: url("https://source.unsplash.com/random?food");
  background-size: cover;
}

/* Form Styling */
.regForm {
  background: #202123e5;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.regForm h1 {
  color: rgb(255, 228, 196);
}

.fieldDiv {
  margin-bottom: 20px;
}

.fieldDiv label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  color: whitesmoke;
  font-family: cursive;
}

.fieldDiv input[type="text"],
.fieldDiv input[type="email"],
.fieldDiv input[type="password"] {
  width: 80%;
  padding: 3px;
  border: 1px solid #ccd6dd;
  border-radius: 4px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fieldDiv input::selection {
  color: teal;
  /* background: rgba(111, 111, 106, 0.255); */
}

.fieldDiv .error {
  color: #ff3860;
  margin-top: 5px;
}

.checkbox.label {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
}

/* Button Styling */
button {
  width: 100%;
  background-color: #4a67e4;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: chocolate;
}

.text-red-700 {
  color: #dc2626;
}

@media (max-width: 768px) {
  .regForm {
    padding: 20px;
  }
  .regForm h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

/* ........................................................................// */
/* home css */
.homeNav > div {
  border: 2px solid red;
  padding: 2px;
}
.sProduct {
  height: 420px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1.5px;
}

.pdesc {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  overflow-y: scroll;
  height: 55px;
  font-size: 15px;
}
.pdesc::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}
.pdesc::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
}
/* Footer  */
.paginationDiv {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: gray;
  /* cursor: pointer; */
  margin-top: 10px;
}

/* /////////////////////////// */

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* /////////////////////////// */

/* ........................................................................// */
