/* Loader */
.loader {
  /* margin: auto; */
  height: 100px;
  width: 100px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SignUp Page */
.mainSignUpDiv {
  transition: transform 1.5s;
  padding: 1rem;
  flex-grow: 1;
}

.signUpFormDiv {
  /* background-image: url("https://source.unsplash.com/random?commerce"); */
  
  /* background-size: cover;
  background-position: center; */
  transition: all 1.5s ease;
  min-height: 100vh;
  text-align: center;
}

.signUpFormDiv input {
  width: 90%;
}
.signUpFormDiv .pDIv {
  width: 90%;
  margin: auto;
}

.fform input[type="checkbox"] {
  width: 12%;
  padding: 10px;
}
.welcomeDiv {
  transition: all 1.5s ease;
}

.fform {
  /* background-color: rgba(26, 55, 52, 0.848); */
  background-color: rgba(0, 0, 0, 0.772);
}

.fform label {
  color: rgb(210, 190, 190);
  margin-bottom: 2px;
}

.regForm,
.loginForm {
  background: #202123dc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  color: rgb(255, 228, 196);
  font-size: x-large;
  font-weight: bold;
}

.fieldDiv label {
  display: block;
  padding: 5px;
  color: whitesmoke;
  font-family: cursive;
}

.fieldDiv input[type="text"],
.fieldDiv input[type="email"],
.fieldDiv input[type="Number"],
.fieldDiv input[type="password"] {
  width: 80%;
  padding: 5px;
  /* border: 1px solid #ccd6dd; */
  border-radius: 4px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.fieldDiv input::selection {
  color: teal;
}

.error {
  color: #ff3860;
  font-size: smaller;
}

/* Home Page */

.sProduct {
  /* height: 420px; */
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1.5px;
  /* user-select: none; */
}

.sProduct > img {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.sProduct > img:hover {
  transform: scale(1.1);
}

.pdesc {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  /* overflow-y: scroll; */
  /* height: 55px; */
  font-size: 15px;
}

.pdesc::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

.pdesc::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
}

/* Dropdown */
.dropdown-container {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-container:hover .dropdown-content,
.dropdown-container:focus-within .dropdown-content {
  display: block;
}
.dropdown-content {
  transition: opacity 0.2s ease-in-out;
}
.rbox {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

@media (max-width: 600px) {
  .homeHeader {
    margin: auto;
    justify-content: center;
    font-size: smaller;
    display: flex;
  }

  .rbox {
    display: flex !important;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .mainSignUpDiv > * {
    transform: scale(0.95);
  }
  .loginForm {
    width: 100%;
  }
}
