.App {
  text-align: center;
}
html,
body {
  height: 100%;
}
/* ........................................................................// */

/* SignUp Form Css Starts */

.regForm {
  border: 1px solid red;
  height: 100vh;
  width: 90%;
  margin: auto;
  padding: 5px;
}
.fieldDiv {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .fd2 label {
  align-items: right;
  float: left;
} */
.fd2 input {
  align-items: left;
 /* float: inline-end; */
}

.error {
  color: red;
}
input {
  border: 1px solid grey;
  background-color: bisque;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
}



/* ........................................................................// */